<div id="page-wrapper">
            <div class="row">
                 <!-- page header -->
                <div class="col-lg-12">
                    <h1 class="page-header">Add Influencer</h1>
                </div>
                <!--end page header -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Form Elements -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Enter Influencer to Track
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form role="form" method="get" action="/api/addinfluencer">
                                        <div class="fodrm-group">
                                          <input type="text" name="influencer_name">
                                         <input type="submit">
                                        
                                        </div>
                                    </form>
                                    </div>
                                 </div>
                              </div>
                        </div>
                    </div>
                </div>
</div>
        <!-- end page-wrapper -->