<!--Area chart example -->

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i>   Influencer Comparison
                            <div class="pull-right">
                              
                            </div>
                        </div>

                        <div class="panel-body">
                            <div id="morris-area-chart"></div>
                        </div>

                    </div>

<!--End area chart example -->